html, button, input, select, textarea, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"]{
    font-family: 'Open Sans', sans-serif;
}

.site-header {
    background-color: #4c91f9;
}

.custom-navbar {
    background-color: #4c91f9 !important;
    border: solid 1px #4c91f9;
    border-radius: 0 0 10px 10px;
}

.navbar a {
    color: white;
}

footer{
    text-align: center;
    color: #6c757d;
    text-decoration: none;
    font-size: 0.8em;
    padding: 15px;
    line-height: 24px;
}
